body {
  margin: 0;
  padding: 0;
}

.toast-alert-enter {
  transform: translateX(100%);
}
.toast-alert-enter-active {
  transform: translateX(0);
  transition: transform 10000ms ease-in-out;
}
.toast-alert-exit {
  transform: translateX(0);
}
.toast-alert-exit-active {
  transform: translateX(100%);
  transition: transform 10000ms ease-in-out;
}
